/*Global Rules*/
 @import url('https://fonts.googleapis.com/css?family=Satisfy');

.white-text {
  color:#fff;
}
/*Header Styles*/

.flex{
  display:flex;
  justify-content:space-between;
  align-items: flex-end;
}

.logo {
  height:95px;
}

#brand {
  font-family:"satisfy", cursive;
  color:#f27680;/*orange accent color*/
  /*margin-top: 32px;*/
  font-size: 42px;
}

header ul.nav-pills {
  /*margin-top: 26px;*/
}

/*Jumbotron styles*/

.jumbotron {
  height: 425px;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron p{
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*FEATURED STYLES*/

.thumbnail {
  background-color: #edf1f4;
  padding:8px;
}


/*SERVICES STYLES*/
.nav-stacked li {
  text-transform: uppercase;
}


.nav-stacked p {
  margin-top:8px;

}

/*FOOTER STYLES*/

footer{
  background-color: #000;
  padding:20px 0px;

}

address, address a{
  color:#bfc0c1;
  text-decoration:none;
}

.border {
  border-left:1px solid #333; /*grey*/
}

.social-media {
  color:#bfc0c1;
  text-decoration:none;

}
